<!DOCTYPE html>
<html>
<head>
    <style>
        .button {
            background-color:  #e7e7e7;
            border: 2px solid #e7e7e7;
            color: black;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 0;
            transition-duration: 0.4s;
            cursor: pointer;
            width: 640px;
        }

        .button:hover {background-color:white;}
    </style>
    <meta charset="utf-8">
    <title>Video Streaming</title>
</head>
<body>
    <div>
        <button id="button" class="button">Arm Device</button>
    </div>
    <div id="output">
        <img id="img" src="{{ url_for('video_feed') }}">
        <canvas id="canvas"></canvas>
    </div>
    <div id="output">
        <button id="resetButtonX" class="button">Reset X Position</button>
        <button id="resetButtonY" class="button">Reset Y Position</button>
    </div>

<script >

    const button = document.getElementById("button");
    const resetButtonX = document.getElementById("resetButtonX");
    const resetButtonY = document.getElementById("resetButtonY");
    const output = document.getElementById("output");

    // for style
    const color = "#FF0000";
    const fontName = "Arial";
    const fontSize = 25;
    const font = fontSize + "px " + fontName;
    const lineWidth = 2;

    const maxDegX = 180;
    const maxmaxDegY = 90;

    const mouseSpeedFactorX = 20;
    const mouseSpeedFactorY = 20;

    const mouseSpeedOffsetX = 20;
    const mouseSpeedOffsetY = 20;

    var xPos = 0;
    var yPos = 0;

    // speed in percent
    var xSpeed = 0;
    var ySpeed = 0;

    var xLastSpeed = 0;
    var yLastSpeed = 0;

    var mouseIsMoving = false;
    var buttonLeftIsPressed = false;
    var buttonRightIsPressed = false;
    var buttonUpIsPressed = false;
    var buttonDownIsPressed = false;
    var buttonSpaceIsPressed = false;


    // for trigger
    var triggered = false;
    var alreadyTriggered = false;
    var keyMap = {38: false, 40: false, 37: false, 39: false, 32: false};


    function drawCrosshair(context){

        var width = context.canvas.width;
        var height = context.canvas.height;

        var horizontalLineLength = width/7;
        var verticalLineLength = height/7;

        var horizontalCrosshairLinelength = horizontalLineLength/5*3;
        var verticalCrosshairLineLength = verticalLineLength/5*3;

        context.fillStyle = color;
        context.globalAlpha = 1;

        //outer frame horizontal lines
        context.fillRect(width/5, height/5-lineWidth/2, horizontalLineLength, lineWidth);
        context.fillRect(width-width/5-horizontalLineLength, height/5-lineWidth/2, horizontalLineLength, lineWidth);
        context.fillRect(width/5, height/5*4-lineWidth/2, horizontalLineLength, lineWidth);
        context.fillRect(width-width/5-horizontalLineLength, height/5*4-lineWidth/2, horizontalLineLength, lineWidth);

        //outer frame vertical lines
        context.fillRect(width/5-lineWidth/2, height/5, lineWidth, verticalLineLength);
        context.fillRect(width/5-lineWidth/2, height-height/5-verticalLineLength, lineWidth, verticalLineLength);
        context.fillRect(width/5*4-lineWidth/2, height/5, lineWidth, verticalLineLength);
        context.fillRect(width/5*4-lineWidth/2, height-height/5-verticalLineLength, lineWidth, verticalLineLength);

        //inner frame horizontal lines
        context.fillRect(width/5*2, height/2-lineWidth/2, horizontalCrosshairLinelength, lineWidth);
        context.fillRect(width-width/5*2-horizontalCrosshairLinelength, height/2-lineWidth/2, horizontalCrosshairLinelength, lineWidth);

        //inner frame vertical lines
        context.fillRect(width/2-lineWidth/2, height/5*2, lineWidth, verticalCrosshairLineLength);
        context.fillRect(width/2-lineWidth/2, height-height/5*2-verticalCrosshairLineLength, lineWidth, verticalCrosshairLineLength);

        context.stroke();
    }

    function drawPosition(context){

        var width = context.canvas.width;
        var height = context.canvas.height;

        var dashPedding= 5;
        var dashLength = 25;
        var numberPedding = 25;

        var widthDeg = width/maxDegX;

        context.fillStyle = color;
        context.globalAlpha = 1;

        for(i=0; i<=maxDegX; i+=5){

            var positionShift = width/2+((i-(xPos+maxDegX/2))*widthDeg);

            var alphaValue = Math.abs(positionShift-(width/2));
            if (alphaValue<1) alphaValue = 1;
            alphaValue = (40/alphaValue);
            if (alphaValue>1) alphaValue = 1;

            context.globalAlpha = alphaValue;

            if ((i-maxDegX/2)%10 == 0){
                context.fillRect(positionShift-lineWidth/2, dashPedding, lineWidth, dashLength);

                context.font = font;
                context.textAlign = "center";
                context.fillText(i-maxDegX/2, positionShift, dashPedding+dashLength+numberPedding); 
            } else {
                context.fillRect(positionShift-lineWidth/2, dashPedding, lineWidth, dashLength/3*2);
            }
        }

        context.globalAlpha = 1;

        var path=new Path2D();
        path.moveTo((width/2)+widthDeg,dashPedding+dashLength+numberPedding+numberPedding);
        path.lineTo((width/2),dashPedding+dashLength+numberPedding+numberPedding/3);
        path.lineTo((width/2)-widthDeg,dashPedding+dashLength+numberPedding+numberPedding);
        context.fill(path);


        for(i=0; i<=maxmaxDegY; i+=5){

            var positionShift = height/2+((i-(yPos+maxmaxDegY/2))*widthDeg);

            var alphaValue = Math.abs(positionShift-(height/2));
            if (alphaValue<1) alphaValue = 1;
            alphaValue = (40/alphaValue);
            if (alphaValue>1) alphaValue = 1;

            context.globalAlpha = alphaValue;

            if ((i-maxmaxDegY/2)%10 == 0){
                context.fillRect(width-dashPedding-dashLength, positionShift-lineWidth/2, dashLength, lineWidth);

                context.font = font;
                context.textAlign = "center";
                context.fillText(maxmaxDegY/2-i, width-dashPedding-dashLength-numberPedding, positionShift+fontSize/3); 
            } else {
                context.fillRect(width-dashPedding-dashLength, positionShift-lineWidth/2, dashLength/3*2, lineWidth);
            }
        }

        context.globalAlpha = 1;

        var path=new Path2D();
        path.moveTo(width-dashPedding-dashLength-numberPedding*3, (height/2)+widthDeg);
        path.lineTo(width-dashPedding-dashLength-numberPedding*2-numberPedding/3, (height/2));
        path.lineTo(width-dashPedding-dashLength-numberPedding*3, (height/2)-widthDeg);
        context.fill(path);

        context.stroke();
    }

    function drawTriggerToggle(context){
        var width = context.canvas.width;
        var height = context.canvas.height;

        context.strokeStyle = color;

        context.moveTo(width/2-15, height/2-10);
        context.lineTo(width/2-35, height/2-20);

        context.moveTo(width/2+15, height/2-10);
        context.lineTo(width/2+35, height/2-20);

        context.moveTo(width/2-15, height/2+10);
        context.lineTo(width/2-35, height/2+20);

        context.moveTo(width/2+15, height/2+10);
        context.lineTo(width/2+35, height/2+20);

        context.stroke();
    }

    function refreshCanvas(){
        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext('2d');

        var img = document.getElementById("img");

        ctx.globalAlpha = 1;
        ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);

        if (document.fullscreenElement){

            if(document.pointerLockElement !== canvas && document.mozPointerLockElement !== canvas) {
                canvas.requestPointerLock = canvas.requestPointerLock || canvas.mozRequestPointerLock;
                canvas.requestPointerLock();
            }

            canvas.style.display="block";
            canvas.style.position = "absolute";
            canvas.style.left = 0;
            canvas.style.top = 0;
            canvas.width = window.screen.width;
            canvas.height = window.screen.height;

            var scale = window.screen.width / img.width;
            img.style.position = "absolute";
            img.width = window.screen.width;
            img.height = img.height * scale;

            img.style.top = (window.screen.height-img.height)/2 + "px";

            drawCrosshair(ctx);
            drawPosition(ctx);

            if (triggered) {
                drawTriggerToggle(ctx);
                //triggered = false;
            }
            
        } else {

            if(document.pointerLockElement === canvas || document.mozPointerLockElement === canvas) {
                document.exitPointerLock = document.exitPointerLock || document.mozExitPointerLock;
                document.exitPointerLock();
            }

            canvas.style.display="none";

            img.style.position = "static";
            img.width = "640";
            img.height = "480";
        }

    };
    window.setInterval("refreshCanvas()", 50); 


    function buttonClickCallback(){
        if(output.webkitRequestFullScreen) {
            output.webkitRequestFullScreen();
        } else {
            output.mozRequestFullScreen();
        }
    }
    button.addEventListener("click",buttonClickCallback);


    function resetButtonXClickCallback(){
        httpPostAsync("{{ url_for('option') }}", "{\"resetPosX\":\"1\"}");
    }
    resetButtonX.addEventListener("click",resetButtonXClickCallback);


    function resetButtonYClickCallback(){
        httpPostAsync("{{ url_for('option') }}", "{\"resetPosY\":\"1\"}");
    }
    resetButtonY.addEventListener("click",resetButtonYClickCallback);


    function outputKeyboardPressCallback(event){
        if (event.keyCode in keyMap) {
            keyMap[event.keyCode] = true;
        }
    }
    window.addEventListener('keydown',outputKeyboardPressCallback);


    function outputKeyboardReleaseCallback(event){
        if (event.keyCode in keyMap) {
            keyMap[event.keyCode] = false;
        }
    }
    window.addEventListener('keyup',outputKeyboardReleaseCallback);


    function outputKeyTimeoutCallback(){
        xSpeed = 0;
        ySpeed = 0;

        // left, not right arrow
        if (keyMap[37] && !keyMap[39]){
            xSpeed = -40;
        }
        // right, not right arrow
        if (keyMap[39] && !keyMap[37]){
            xSpeed = 40;
        }
        // up, not down arrow
        if (keyMap[38] && !keyMap[40]){
            ySpeed = -45  ;
        }
        // down, not up arrow
        if (keyMap[40] && !keyMap[38]){            
            ySpeed = 45;
        }

        if (xSpeed != xLastSpeed){
            xLastSpeed = xSpeed;
            postString = "{\"xSpeed\":" + xSpeed + "}";
            httpPostAsync("{{ url_for('controlle') }}", postString);
        }
        if (ySpeed != yLastSpeed){
            yLastSpeed = ySpeed;
            postString = "{\"ySpeed\":" + -ySpeed + "}";
            httpPostAsync("{{ url_for('controlle') }}", postString);
        }
        
        if (document.fullscreenElement) {

            if(keyMap[32] & !alreadyTriggered){
                triggered = true;
            }
            else if(!keyMap[32]){
                triggered = false;
                alreadyTriggered = false;
            }
            else{
                triggered = false;
            }

            if(triggered){
                alreadyTriggered = true;
                httpPostAsync("{{ url_for('controlle') }}", "{\"trigger\":\"1\"}");
            }
        }
    };
    window.setInterval(outputKeyTimeoutCallback, 50); 


    function refreshPosition(){
        if (document.fullscreenElement) {
            httpGetAsync("{{ url_for('feedback') }}", "positions=1", null, positionCallback)
        }
    };
    function positionCallback(response){        
        var responseObj = JSON.parse(response);
        xPos = parseFloat(responseObj.xPos);
        yPos = -1*parseFloat(responseObj.yPos);
    };
    window.setInterval("refreshPosition()", 200); 


/*
    function outputClickCallback(){  
        if (document.fullscreenElement){
            console.log("trigger");
            triggered = true;
            httpPostAsync("{{ url_for('controlle') }}", "{\"trigger\":1}");
        }
    }
    //output.addEventListener("click",outputClickCallback);


    function outputMouseMoveCallback(event){
        if (document.fullscreenElement) {

    		mouseIsMoving = true;

            xSpeedInput = (event.movementX*mouseSpeedFactorX) + mouseSpeedOffsetX;
            if (xSpeed > 100) xSpeed = 100;
            else if (xSpeed < -100) xSpeed = -100;

            ySpeedInput = (event.movementY*mouseSpeedFactorY) + mouseSpeedOffsetY;
            if (ySpeed > 100) ySpeed = 100;
            else if (ySpeed < -100) ySpeed = -100;

            xAlpha = 0.1;
            xSpeed = xAlpha*xSpeedInput + (1-xAlpha)*xLastSpeed;

            yAlpha = 0.1;
            ySpeed = yAlpha*ySpeedInput + (1-yAlpha)*yLastSpeed;
        }
    }
    //output.addEventListener('mousemove',outputMouseMoveCallback);


    function outputMouseTimeoutCallback(){

    	if (!mouseIsMoving){

            xSpeed = 0;
            ySpeed = 0;
        }

        if (xSpeed != xLastSpeed){
        	xLastSpeed = xSpeed;
            console.log("Speed X:"+ xSpeed)
            postString = "{\"xSpeed\":" + xSpeed + "}";
            httpPostAsync("{{ url_for('controlle') }}", postString);
    	}
    	if (ySpeed != yLastSpeed){
        	yLastSpeed = ySpeed;
            console.log("Speed Y:"+ -ySpeed)
            postString = "{\"ySpeed\":" + -ySpeed + "}";
            httpPostAsync("{{ url_for('controlle') }}", postString);
        }
        
    	mouseIsMoving = false;
    };
    //window.setInterval(outputMouseTimeoutCallback, 100); 
*/

    function httpGetAsync(url, data, request, callback){
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() { 
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                callback(xmlHttp.responseText);
        }
        xmlHttp.open("GET", url + "?" + request, true); // true for asynchronous 
        xmlHttp.send(data);
    }


    function httpPostAsync(url, data){
        var xhr = new XMLHttpRequest();
        xhr.open("POST", url + "?" + request, true);
        xhr.setRequestHeader('Content-Type', 'text/plain');
        xhr.send(data);
    }
</script>
</body>
</html>