<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/utils.js"></script>
        <script src="/js/draw.js"></script>
        <meta charset="utf-8" content="noindex,follow">
        <title>Turret Control</title>
    </head>
    <body>
        
        <div id="fullScreenDisplay" style="display: none;">
            
            <img id="fullScreenImage" src="{{ url_for('videoFeed') }}">
            <canvas id="fullScreenCanvas"></canvas>

        </div>
        
        <div id="popupControllerInfo" class="hoverPopupBackground">
            <div class="popup">
                <img  src="/img/gamepadOverview.png" style="width:100%; margin:0 auto;">
            </div>
        </div>
        
        <div id="popupOptions" class="hoverPopupBackground">
            <div class="popup">
                <div id="pitchCalibrateBtn" class="button">Calibrate Pitch</div> 
                <div id="yawCalibrateBtn" class="button">Calibrate Yaw</div> 
            </div>
        </div>
            
        <div style="width:100%; height:100%; margin:0 auto;">
            
            <h1>Turret Web-UI</h1>
            <h2>Control & Feedback</h2>
            
            <div style="max-height:65%; aspect-ratio:16/9; position:relative; margin:auto; margin-top:2vh;">   

                <img src="{{ url_for('videoFeed') }}" style="display:block; object-fit: contain; height:100%;">
                
                <div style="width:100%; height:5%; position:absolute; bottom:0; background: rgba(0, 0, 0, .5); padding:0.5% 0 0.5% 0;">
                    
                    <select name="cameraFeedSelector" id="cameraFeedSelector" style="height:100%; width:20%; display:inline-block;">
                        <option value="rgb" selected="selected">RGB</option>
                        <option value="thermalAbs">Thermal (Absolut)</option>
                        <option value="thermalNorm">Thermal (Normalized)</option>
                        <option value="hybrid">Hybrid</option>
                    </select>
                    <img id="thermalCameraColorMapDisplay" src="/img/colorscaleGrey.jpg" style="height:100%; margin-left:3%; vertical-align:middle;" />        
                    <select name="thermalCameraColorMapSelector" id="thermalCameraColorMapSelector" style = "height:100%; width:20%; display:inline-block;">
                        <option value="grey" selected="selected">Grey</option>
                        <option value="autumn">Autumn</option>
                        <option value="bone">Bone</option>
                        <option value="jet">Jet</option>
                        <option value="winter">Winter</option>
                        <option value="rainbow">Rainbow</option>
                        <option value="ocean">Ocean</option>
                        <option value="summer">Summer</option>
                        <option value="spring">Spring</option>
                        <option value="cool">Cool</option>
                        <option value="hsv">HSV</option>
                        <option value="pink">Pink</option>
                        <option value="hot">Hot</option>
                        <option value="parula">Parula</option>
                    </select>
                    
                    <img id="gamepadConnectedInfoButton" src="/img/gamepadNotConnectedLight.png" style="height:100%; margin-left:10%; vertical-align:middle; isplay:dinline-block;">

                    <img id="gamepadInfoButton" src="/img/gamepadInfoLight.png" style="height:100%; margin-left:10%; vertical-align:middle; display:none;">

                    <img id="fullscreenButton" src="/img/fullscreenLight.png" style="height:100%; margin-left:2%; vertical-align:middle; display:inline-block;">
                    
                    <img id="optionsButton" src="/img/optionsSettingsLight.png" style="height:100%; margin-left:2%; vertical-align:middle; display:inline-block;">

                </div>
                
            </div>

            <div style="width:100%; margin-top:2vh;">
                
                <div style="margin-left: 5%; margin-right:5%; width:90%;">
                    <p>Pitch</p>
                    <input type="range" id="pitchPositionInput" min="-50" max="50">
                    <div id="tickmarks">
                        <p>-50</p><p>-40</p><p>-30</p><p>-20</p><p>-10</p>
                        <p>0</p>
                        <p>10</p><p>20</p><p>30</p><p>40</p><p>50</p>
                    </div>
                    <p style="margin-top:2vh;">Yaw</p>
                    <input type="range" id="yawPositionInput" min="-180" max="180">
                    <div id="tickmarks">
                        <p>-180</p><p>-170</p><p>-160</p><p>-150</p><p>-140</p><p>-130</p><p>-120</p><p>-110</p><p>-100</p>
                        <p>-90</p><p>-80</p><p>-70</p><p>-60</p><p>-50</p><p>-40</p><p>-30</p><p>-20</p><p>-10</p>
                        <p>0</p>
                        <p>10</p><p>20</p><p>30</p><p>40</p><p>50</p><p>60</p><p>70</p><p>80</p><p>90</p>
                        <p>100</p><p>110</p><p>120</p><p>130</p><p>140</p><p>150</p><p>160</p><p>170</p><p>180</p>
                    </div>
                </div>
                
            </div>  

        </div>
    <script >

        // html objects        
        const cameraFeedSelector = document.getElementById("cameraFeedSelector");
        
        const thermalCameraColorMapSelector = document.getElementById("thermalCameraColorMapSelector");
        const thermalCameraColorMapDisplay = document.getElementById("thermalCameraColorMapDisplay");

        const yawPositionInput = document.getElementById("yawPositionInput");
        const pitchPositionInput = document.getElementById("pitchPositionInput");

        const fullScreenDisplay = document.getElementById("fullScreenDisplay");
        const fullScreenImage = document.getElementById("fullScreenImage");
        const fullScreenCanvas = document.getElementById("fullScreenCanvas");
        
        const fullscreenButton = document.getElementById("fullscreenButton");

        const gamepadConnectedInfoButton = document.getElementById("gamepadConnectedInfoButton");
        const gamepadInfoButton = document.getElementById("gamepadInfoButton");

        const optionsButton = document.getElementById("optionsButton");

        const popupControllerInfo = document.getElementById("popupControllerInfo");
        const popupOptions = document.getElementById("popupOptions");
        
        const pitchCalibrateBtn = document.getElementById("pitchCalibrateBtn");
        const yawCalibrateBtn = document.getElementById("yawCalibrateBtn");

        const positionCanvasX = document.getElementById("positionCanvasX");
        const positionCanvasY = document.getElementById("positionCanvasY");

        var fullScreenMode = false;

        // input variables
        var lastYawSpeed = 0;
        var lastPitchSpeed = 0;
        var lastLbButtonPressed = 0;
        var lastRbButtonPressed = 0;
        var lastUpButtonPressed = 0;
        var lastDownButtonPressed = 0;
        var lastRightButtonPressed = 0;
        var lastLeftButtonPressed = 0;
        var lastStartButtonPressed = 0;

        var triggered = false;

        // readback variables
        var yawPosFeedback = 0;
        var pitchPosFeedback = 0;

        // status if a gamepad is connected
        var gamepadConnected = false;

        /*
        * Animates the fullscreen display
        *  - draws position feedback
        *  - draws crosshair
        *  - draws trigger indicator
        */
        function refreshAnimations(){
            if (document.fullscreenElement){
                
                displayFullScreenElements(fullScreenDisplay, fullScreenImage, fullScreenCanvas);

                var ctx = fullScreenCanvas.getContext('2d');
                ctx.globalAlpha = 1;
                ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);

                drawPositionFeedbackFullScreen(ctx, yawPosFeedback, -pitchPosFeedback);
                drawCrosshair(ctx);

                if (triggered) {
                    drawTriggerToggle(ctx);
                    triggered = false;
                }
            }
            else {
                hideFullScreenElements(fullScreenDisplay, fullScreenImage, fullScreenCanvas);
            }
        };
        window.setInterval("refreshAnimations()", 50); 

        /* 
        * Camera feed selector callback
        */
        function selectCameraFeedCallback(event){
            var postString = "{\"setCameraFeed\":\"" + event.target.value + "\"}";
            httpPostAsync("{{ url_for('option') }}", postString);
        }
        cameraFeedSelector.addEventListener("change",selectCameraFeedCallback);

        /* 
        * Thermal camera color map selector callback
        */
        function selectThermalCameraColorMapCallback(event){
            var postString = "{\"setThermalCameraColorMap\":\"" + event.target.value + "\"}";
            httpPostAsync("{{ url_for('option') }}", postString);
        }
        thermalCameraColorMapSelector.addEventListener("change",selectThermalCameraColorMapCallback);

        /* 
        * Display map image for selected color map
        */
        function displayColorMapImage(event){
            var string = event.target.value.charAt(0).toUpperCase() + event.target.value.slice(1);
            thermalCameraColorMapDisplay.setAttribute("src", "/img/colorscale" + string + ".jpg");
        }
        thermalCameraColorMapSelector.addEventListener("change",displayColorMapImage);

        /* 
        * Yaw Position range input callback
        */
        function yawPositionInputChangeCallback(event){
            var postString = "{\"yawPos\":" + event.target.value + "}";
            httpPostAsync("{{ url_for('control') }}", postString);
        }
        yawPositionInput.addEventListener("mouseup",yawPositionInputChangeCallback);
        yawPositionInput.addEventListener("touchend",yawPositionInputChangeCallback);

        /* 
        * Pitch Position range input callback
        */
        function pitchPositionInputChangeCallback(event){
            var postString = "{\"pitchPos\":" + event.target.value + "}";
            httpPostAsync("{{ url_for('control') }}", postString);
        }
        pitchPositionInput.addEventListener("mouseup",pitchPositionInputChangeCallback);
        pitchPositionInput.addEventListener("touchend",pitchPositionInputChangeCallback);

        /* 
        * Pitch Calibration button press callback
        */
        function pitchCalibrateBtnPushCallback(event){
            var postString = "{\"calibrateMotorPitch\":1}";
            httpPostAsync("{{ url_for('option') }}", postString);
        }
        pitchCalibrateBtn.addEventListener("mouseup",pitchCalibrateBtnPushCallback);
        pitchCalibrateBtn.addEventListener("touchend",pitchCalibrateBtnPushCallback);
        
        /* 
        * Yaw Calibration button press callback
        */
        function yawCalibrateBtnPushCallback(event){
            var postString = "{\"calibrateMotorYaw\":1}";
            httpPostAsync("{{ url_for('option') }}", postString);
        }
        yawCalibrateBtn.addEventListener("mouseup",yawCalibrateBtnPushCallback);
        yawCalibrateBtn.addEventListener("touchend",yawCalibrateBtnPushCallback);
        
        /*
        * Gamepad connect callback
        */
        function gamepadConnectCallback(event){
            gamepadConnected = event.gamepad.connected;
            
            if (gamepadConnected) {
                gamepadConnectedInfoButton.style.display = "none";
                gamepadInfoButton.style.display = "inline-block";
            }
            else {
                gamepadConnectedInfoButton.style.display = "inline-block";
                gamepadInfoButton.style.display = "none";
            }
        }
        window.addEventListener("gamepadconnected", gamepadConnectCallback);
        window.addEventListener("gamepaddisconnected", gamepadConnectCallback);

        /*
        * Popup Controller Info open callback
        */
        function openPopupControllerInfoCallback(event){
            popupControllerInfo.style.display = "block";
        }
        gamepadInfoButton.addEventListener("mouseup",openPopupControllerInfoCallback);
        gamepadInfoButton.addEventListener("touchend",openPopupControllerInfoCallback);

        /*
        * Popup Controller Info close callback
        */
        function closePopupControllerInfoCallback(event){
            popupControllerInfo.style.display = "none";
        }
        popupControllerInfo.addEventListener("mouseup",closePopupControllerInfoCallback);
        popupControllerInfo.addEventListener("touchend",closePopupControllerInfoCallback);
        
        /*
        * Popup options open callback
        */
        function openPopupOptionsCallback(event){
            popupOptions.style.display = "block";
        }
        optionsButton.addEventListener("mouseup",openPopupOptionsCallback);
        optionsButton.addEventListener("touchend",openPopupOptionsCallback);

        /*
        * Popup Controller Info close callback
        */
        function closePopupOptionsCallback(event){
            popupOptions.style.display = "none";
        }
        popupOptions.addEventListener("mouseup",closePopupOptionsCallback);
        popupOptions.addEventListener("touchend",closePopupOptionsCallback);
        

        /*
        * Fullscreen enable button callback
        */
        function pressFullscreenButtonCallback(event){
            if (document.fullscreenElement) {
                document.exitFullscreen();
            }
            else {
                fullScreenDisplay.requestFullscreen();
            }
        }
        fullscreenButton.addEventListener("mouseup",pressFullscreenButtonCallback);
        fullscreenButton.addEventListener("touchend",pressFullscreenButtonCallback);

        /*
        * Control loop
        */
        function controlTimeoutCallback(){
            if (gamepadConnected) {

                var gamepad = navigator.getGamepads()[0];
                
                var axisIdYaw = 2;
                var axisIdPitch = 3;

                var buttonIdLb = 6;
                var buttonIdRb = 7;
                var buttonIdStart = 9;
                var buttonIdUp= 12;
                var buttonIdDown= 13;
                var buttonIdLeft= 14;
                var buttonIdRight= 15;

                var yawSpeed = gamepad.axes[axisIdYaw] * 100;
                yawSpeed = Math.abs(yawSpeed) < 5 ? 5 : yawSpeed; // broken stick
                yawSpeed = parseInt(Math.sign(yawSpeed)*map(Math.abs(yawSpeed), 5, 100, 0, 100 ));

                var pitchSpeed = gamepad.axes[axisIdPitch] * 100;
                pitchSpeed = Math.abs(pitchSpeed) < 5 ? 5 : pitchSpeed; // broken stick
                pitchSpeed = parseInt(Math.sign(pitchSpeed)*map(Math.abs(pitchSpeed), 5, 100, 0, 100 ));

                if (yawSpeed != lastYawSpeed && pitchSpeed != lastPitchSpeed) {
                    lastYawSpeed = yawSpeed;
                    lastPitchSpeed = pitchSpeed;
                    var postString = "{\"yawSpeed\":" + yawSpeed + ",\"pitchSpeed\":" + pitchSpeed + "}";
                    httpPostAsync("{{ url_for('control') }}", postString);
                }
                else if (yawSpeed != lastYawSpeed){
                    lastYawSpeed = yawSpeed;
                    var postString = "{\"yawSpeed\":" + yawSpeed + "}";
                    httpPostAsync("{{ url_for('control') }}", postString);
                }
                else if (pitchSpeed != lastPitchSpeed){
                    lastPitchSpeed = pitchSpeed;
                    var postString = "{\"pitchSpeed\":" + pitchSpeed + "}";
                    httpPostAsync("{{ url_for('control') }}", postString);
                }
                
                // zoom
                var lbButtonPressed = gamepad.buttons[buttonIdLb].value > 0;
                if (lbButtonPressed != lastLbButtonPressed) {
                    lastLbButtonPressed = lbButtonPressed;
                    console.log("zoom: %s", lbButtonPressed);
                    var postString = "{\"setCameraZoom\":\"" + lbButtonPressed + "\"}";
                    httpPostAsync("{{ url_for('option') }}", postString);
                }
                
                // trigger
                var rbButtonPressed = gamepad.buttons[buttonIdRb].value > 0;
                if (rbButtonPressed != lastRbButtonPressed) {
                    lastRbButtonPressed = rbButtonPressed;
                    console.log("trigger: %s", rbButtonPressed);
                    var postString = "{\"trigger\":" + rbButtonPressed + "}";
                    httpPostAsync("{{ url_for('control') }}", postString);
                }
                
                // camera selection
                var upButtonPressed = gamepad.buttons[buttonIdUp].value
                if (upButtonPressed != lastUpButtonPressed && upButtonPressed) {
                    var idx = document.getElementById("cameraFeedSelector").selectedIndex + 1;
                    if (idx >= document.getElementById("cameraFeedSelector").length) idx = 0;
                    document.getElementById("cameraFeedSelector").selectedIndex = idx;
                    document.getElementById("cameraFeedSelector").dispatchEvent(new Event('change'));
                }
                lastUpButtonPressed = upButtonPressed;
                
                var downButtonPressed = gamepad.buttons[buttonIdDown].value
                if (downButtonPressed != lastDownButtonPressed && downButtonPressed) {
                    var idx = document.getElementById("cameraFeedSelector").selectedIndex - 1;
                    if (idx < 0) idx = document.getElementById("cameraFeedSelector").length-1;
                    document.getElementById("cameraFeedSelector").selectedIndex = idx;
                    document.getElementById("cameraFeedSelector").dispatchEvent(new Event('change'));
                }
                lastDownButtonPressed = downButtonPressed;
                
                // color map selection
                var rightButtonPressed = gamepad.buttons[buttonIdRight].value
                if (rightButtonPressed != lastRightButtonPressed && rightButtonPressed) {
                    var idx = document.getElementById("thermalCameraColorMapSelector").selectedIndex + 1;
                    if (idx >= document.getElementById("thermalCameraColorMapSelector").length) idx = 0;
                    document.getElementById("thermalCameraColorMapSelector").selectedIndex = idx;
                    document.getElementById("thermalCameraColorMapSelector").dispatchEvent(new Event('change'));
                }
                lastRightButtonPressed = rightButtonPressed;
                
                var leftButtonPressed = gamepad.buttons[buttonIdLeft].value
                if (leftButtonPressed != lastLeftButtonPressed && leftButtonPressed) {
                    var idx = document.getElementById("thermalCameraColorMapSelector").selectedIndex - 1;
                    if (idx < 0) idx = document.getElementById("thermalCameraColorMapSelector").length-1;
                    document.getElementById("thermalCameraColorMapSelector").selectedIndex = idx;
                    document.getElementById("thermalCameraColorMapSelector").dispatchEvent(new Event('change'));
                }
                lastLeftButtonPressed = leftButtonPressed;
                
                var startButtonPressed = gamepad.buttons[buttonIdStart].value
                if (startButtonPressed != lastStartButtonPressed && startButtonPressed) {
                    if (document.fullscreenElement) {
                        document.exitFullscreen();
                    }
                    else {
                        fullScreenDisplay.requestFullscreen();
                    }
                }
                lastStartButtonPressed = startButtonPressed;
                                
                /*
                for (i = 0; i<gamepad.buttons.length; i++) {
                    if (gamepad.buttons[i].value) console.log("Button:" + i);
                }
                */
            }
        };
        window.setInterval(controlTimeoutCallback, 50); 

        /*
        * Position feedback stream
        * - get request to activate stream
        * - response callback
        */
        function positionCallback(response){
            if (response) {
                var lines = response.split('\n');
                lastLine = lines.length - 2
            
                var responseObj = JSON.parse(lines[lastLine]);
                pitchPosFeedback = -1*parseFloat(responseObj.pitchPos);
                yawPosFeedback = 1*parseFloat(responseObj.yawPos);
                //console.log("Feedback Pitch: %s | Yaw: %s", pitchPosFeedback, yawPosFeedback)
            }
        };
        httpGetAsync("{{ url_for('positionFeed') }}", "", "", positionCallback);


    </script>
    </body>
</html>
