<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/utils.js"></script>
        <script src="/js/draw.js"></script>
        <meta charset="utf-8" content="noindex,follow">
        <title>Turret Control</title>
    </head>
    <body>

        <div id="fullScreenDisplay" style="display: none;">
            
            <img id="fullScreenImage" src="{{ url_for('video_feed') }}">
            <canvas id="fullScreenCanvas"></canvas>

            <div id="joystickBase" style="position: absolute;">
                <img src="/img/joystickBase.png" style="width:100%;"/>
            </div>
            <div id="joystickKnob" style="position: absolute;">
                <img src="/img/joystickRed.png" style="width:100%;"/>        
            </div>
            
        </div>
        
        <div style="width:80%; height:100%; margin:0 auto;">    
            <h1>Turret Web-UI</h1>
            <h2>Control & Feedback</h2>
            <br>
            
            <div class="container-parent" style="width:100%; height:60%;">
                
                <div class="container-child" style="width:55%; height:100%;" >   

                    <div style="width:100%; height:95%;" >   
                        <img src="{{ url_for('video_feed') }}" style="width:100%; height: auto;">
                    </div>
                    
       
                    <div style="width:100%; height:5%;">
                        
                        <select name="cameraFeedSelector" id="cameraFeedSelector" style="height:100%; display: inline-block;">
                            <option value="rgb" selected="selected">RGB</option>
                            <option value="thermalAbs">Thermal (Absolut)</option>
                            <option value="thermalNorm">Thermal (Normalized)</option>
                            <option value="hybrid">Hybrid</option>
                        </select>
                        <img id="thermalCameraColorMapDisplay" src="/img/colorscaleGrey.jpg" style="height:100%; margin-left: 5%; vertical-align: middle;" />        
                        <select name="thermalCameraColorMapSelector" id="thermalCameraColorMapSelector" style = "height:100%; display: inline-block;">
                            <option value="grey" selected="selected">Grey</option>
                            <option value="autumn">Autumn</option>
                            <option value="bone">Bone</option>
                            <option value="jet">Jet</option>
                            <option value="winter">Winter</option>
                            <option value="rainbow">Rainbow</option>
                            <option value="ocean">Ocean</option>
                            <option value="summer">Summer</option>
                            <option value="spring">Spring</option>
                            <option value="cool">Cool</option>
                            <option value="hsv">HSV</option>
                            <option value="pink">Pink</option>
                            <option value="hot">Hot</option>
                            <option value="parula">Parula</option>
                            <option value="magma">Magma</option>
                            <option value="inferno">Inferno</option>
                            <option value="plasma">Plasma</option>
                            <option value="viridis">Viridis</option>
                            <option value="cividis">Cividis</option>
                            <option value="twilight">Twilight</option>
                            <option value="twilightShifted">Twilight Shifted</option>
                            <option value="turbo">Turbo</option>
                            <option value="deepGreen">Deep Green</option>
                        </select>
                        <br>
                    </div>
                </div>
                    
                <div class="container-child" style="width:40%; height:100%; margin-left:1%;">   

                    <div style="height:40%; margin:0 auto;">   
                        <div id="armButton" class="button">Arm</div>
                        
                        <p class="description">
                            Arm the turret and enter fullscreen mode.<br> 
                            WARNING! The Safety will be disengaged.<br><br>
                        </p>
                    </div>
                    
                    <div style="height:50%; margin:0 auto;">   
                        <canvas id="positionCanvasX" style="height:50%; "></canvas>
                        <canvas id="positionCanvasY" style="height:50%; "></canvas>
                    </div>
                </div>
                
            </div>

            <div class="container-parent" style="width:100%; height:38%; margin-top:2%;">
                
                <div style="margin-left: 10%; margin-right:10%; width:80%;">
                    Pitch
                    <input type="range" id="pitchPositionInput" min="-50" max="50">
                    <div id="tickmarks">
                        <p>-50</p><p>-40</p><p>-30</p><p>-20</p><p>-10</p>
                        <p>0</p>
                        <p>10</p><p>20</p><p>30</p><p>40</p><p>50</p>
                    </div>
                    <br>
                    Yaw
                    <input type="range" id="yawPositionInput" min="-180" max="180">
                    <div id="tickmarks">
                        <p>-180</p><p>-170</p><p>-160</p><p>-150</p><p>-140</p><p>-130</p><p>-120</p><p>-110</p><p>-100</p>
                        <p>-90</p><p>-80</p><p>-70</p><p>-60</p><p>-50</p><p>-40</p><p>-30</p><p>-20</p><p>-10</p>
                        <p>0</p>
                        <p>10</p><p>20</p><p>30</p><p>40</p><p>50</p><p>60</p><p>70</p><p>80</p><p>90</p>
                        <p>100</p><p>110</p><p>120</p><p>130</p><p>140</p><p>150</p><p>160</p><p>170</p><p>180</p>
                    </div>
                </div>
                
            </div>  

        </div>
    <script >

        /*
        <div class="container-parent" style="width:100%; height:30%;">
            <h2>Control</h2>
            <div>
                <div id="resetButtonX" class="button">Reset X</div> 
                <div id="resetButtonY" class="button">Reset Y</div> 
                <p class="description">
                    Reset X or Y axis position to 0.<br>
                    This is used for rehomeing the device.
                </p>
            </div>
        </div>
        */
        
        // <img id="fullScreenImage" src="../static/img/testImage.gif">
        // <img id="fullScreenImage" src="{{ url_for('video_feed') }}">
        // <img src="../static/img/testImage.gif" style="width:100%; height: auto;">
        // <img src="{{ url_for('video_feed') }}" style="width:100%; height: auto;">

        class JoystickController
        {
            // stickID: ID of HTML element (representing joystick) that will be dragged
            // maxDistance: maximum amount joystick can move in any direction
            // deadzone: joystick must move at least this amount from origin to register value change
            constructor( stickID, maxDistance, deadzone )
            {
                this.id = stickID;
                let stick = document.getElementById(stickID);

                // location from which drag begins, used to calculate offsets
                this.dragStart = null;

                // track touch identifier in case multiple joysticks present
                this.touchId = null;
                
                this.active = false;
                this.value = { x: 0, y: 0 }; 

                let self = this;

                function handleDown(event)
                {
                    self.active = true;

                    // all drag movements are instantaneous
                    stick.style.transition = '0s';

                    // touch event fired before mouse event; prevent redundant mouse event from firing
                    event.preventDefault();

                    if (event.changedTouches)
                        self.dragStart = { x: event.changedTouches[0].clientX, y: event.changedTouches[0].clientY };
                    else
                        self.dragStart = { x: event.clientX, y: event.clientY };

                    // if this is a touch event, keep track of which one
                    if (event.changedTouches)
                        self.touchId = event.changedTouches[0].identifier;
                }
                
                function handleMove(event) 
                {
                    if ( !self.active ) return;

                    // if this is a touch event, make sure it is the right one
                    // also handle multiple simultaneous touchmove events
                    let touchmoveId = null;
                    if (event.changedTouches)
                    {
                        for (let i = 0; i < event.changedTouches.length; i++)
                        {
                            if (self.touchId == event.changedTouches[i].identifier)
                            {
                                touchmoveId = i;
                                event.clientX = event.changedTouches[i].clientX;
                                event.clientY = event.changedTouches[i].clientY;
                            }
                        }

                        if (touchmoveId == null) return;
                    }

                    const xDiff = event.clientX - self.dragStart.x;
                    const yDiff = event.clientY - self.dragStart.y;
                    const angle = Math.atan2(yDiff, xDiff);
                    const distance = Math.min(maxDistance, Math.hypot(xDiff, yDiff));
                    const yawPosition = distance * Math.cos(angle);
                    const pitchPosition = distance * Math.sin(angle);

                    // move stick image to new position
                    stick.style.transform = `translate3d(${yawPosition}px, ${pitchPosition}px, 0px)`;

                    // deadzone adjustment
                    const distance2 = (distance < deadzone) ? 0 : maxDistance / (maxDistance - deadzone) * (distance - deadzone);
                    const yawPosition2 = distance2 * Math.cos(angle);
                    const pitchPosition2 = distance2 * Math.sin(angle);
                    const xPercent = parseFloat((yawPosition2 / maxDistance).toFixed(4));
                    const yPercent = parseFloat((pitchPosition2 / maxDistance).toFixed(4));
                    
                    self.value = { x: xPercent, y: yPercent };
                }

                function handleUp(event) 
                {
                    if ( !self.active ) return;

                    // if this is a touch event, make sure it is the right one
                    if (event.changedTouches && self.touchId != event.changedTouches[0].identifier) return;

                    // transition the joystick position back to center
                    stick.style.transition = '.2s';
                    stick.style.transform = `translate3d(0px, 0px, 0px)`;

                    // reset everything
                    self.value = { x: 0, y: 0 };
                    self.touchId = null;
                    self.active = false;
                }

                stick.addEventListener('mousedown', handleDown);
                stick.addEventListener('touchstart', handleDown);
                document.addEventListener('mousemove', handleMove, {passive: false});
                document.addEventListener('touchmove', handleMove, {passive: false});
                document.addEventListener('mouseup', handleUp);
                document.addEventListener('touchend', handleUp);
            }
        }


        const imageBottomX = new Image();
        imageBottomX.src = "/img/turretStaticX.png";

        const imageTopX = new Image();
        imageTopX.src = "/img/turretDynamicX.png";

        const imageBottomY = new Image();
        imageBottomY.src = "/img/turretDynamicY.png";

        const imageTopY = new Image();
        imageTopY.src = "/img/turretStaticY.png";

        const imageTopYCamera = new Image();
        imageTopYCamera.src = "/img/turretDynamicYCamera.png";



        // html objects        
        const armButton = document.getElementById("armButton");

        //const resetButtonX = document.getElementById("resetButtonX");
        //const resetButtonY = document.getElementById("resetButtonY");

        const cameraFeedSelector = document.getElementById("cameraFeedSelector");
        
        const thermalCameraColorMapSelector = document.getElementById("thermalCameraColorMapSelector");
        const thermalCameraColorMapDisplay = document.getElementById("thermalCameraColorMapDisplay");

        const yawPositionInput = document.getElementById("yawPositionInput");
        const pitchPositionInput = document.getElementById("pitchPositionInput");

        const fullScreenDisplay = document.getElementById("fullScreenDisplay");
        const fullScreenImage = document.getElementById("fullScreenImage");
        const fullScreenCanvas = document.getElementById("fullScreenCanvas");

        const positionCanvasX = document.getElementById("positionCanvasX");
        const positionCanvasY = document.getElementById("positionCanvasY");

        const joystickBase = document.getElementById("joystickBase");
        const joystickKnob = document.getElementById("joystickKnob");
        const joystick = new JoystickController("joystickKnob", 32, 8);


        var deviceType = 0; // 0=PC, 1=mobile
        var fullScreenMode = false;

        // input variables
        var yawSpeed = 0;
        var pitchSpeed = 0;
        var yawLastSpeed = 0;
        var pitchLastSpeed = 0;

        var triggered = false;

        // readback variables
        var yawPosFeedback = 0;
        var pitchPosFeedback = 0;

        // keyboard and mouse input
        var mouseIsMovingX = false;
        var mouseIsMovingY = false;


        // up - down - left - right - space
        var keyMap = {38: false, 40: false, 37: false, 39: false, 32: false};

        // topRight - bottomRight - topLeft - bottomLeft - center
        var mouchMap = {1: false, 2: false, 3: false, 4: false, 5: false};


        var gamepadConnected = false;


        /*
        * Animates the fullscreen display
        *  - draws position feedback
        *  - draws crosshair
        *  - draws trigger indicator
        */
        function refreshAnimations(){
            if (document.fullscreenElement){
                
                accomodateMobileRotation();
                displayFullScreenElements(fullScreenDisplay, fullScreenImage, fullScreenCanvas, deviceType);
                displayJoyStick(joystickBase, joystickKnob, deviceType);

                var ctx = fullScreenCanvas.getContext('2d');
                ctx.globalAlpha = 1;
                ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);

                drawPositionFeedbackFullScreen(ctx, yawPosFeedback, -pitchPosFeedback);
                drawCrosshair(ctx);

                if (triggered) {
                    drawTriggerToggle(ctx);
                    triggered = false;
                }
            }
            else
            {
                hideFullScreenElements(fullScreenDisplay, fullScreenImage, fullScreenCanvas);
                drawPositionFeebackOverview(positionCanvasX, positionCanvasY, yawPosFeedback, pitchPosFeedback);
            }
        };
        window.setInterval("refreshAnimations()", 50); 

        /*
        * Enable fullscreen mode of browser
        */
        function requestFullScreen(){
            if(fullScreenDisplay.webkitRequestFullScreen) {
                fullScreenDisplay.webkitRequestFullScreen();
            } else {
                fullScreenDisplay.mozRequestFullScreen();
            }
        }

        /*
        * Arm button callback (mouse)
        */
        function armButtonMouseUoCallback(){
            deviceType = 0;
            requestFullScreen();
        }
        armButton.addEventListener("mouseup",armButtonMouseUoCallback);

        /*
        * Arm button callback (touch)
        */
        function armButtonTouchEndCallback(){
            deviceType = 1;
            requestFullScreen();
        }
        armButton.addEventListener("touchend",armButtonTouchEndCallback);

        /* 
        * Reset button callback (x)
        */
        /*
        function resetButtonXClickCallback(){
            httpPostAsync("{{ url_for('option') }}", "{\"resetPosX\":\"1\"}");
        }
        resetButtonX.addEventListener("click",resetButtonXClickCallback);
        */
        
        /* 
        * Reset button callback (y)
        */
        /*
        function resetButtonYClickCallback(){
            httpPostAsync("{{ url_for('option') }}", "{\"resetPosY\":\"1\"}");
        }
        resetButtonY.addEventListener("click",resetButtonYClickCallback);
        */
        
        /* 
        * Camera feed selector callback
        */
        function selectCameraFeedCallback(event){
            var postString = "{\"setCameraFeed\":\"" + event.target.value + "\"}";
            httpPostAsync("{{ url_for('option') }}", postString);
        }
        cameraFeedSelector.addEventListener("change",selectCameraFeedCallback);

        /* 
        * Thermal camera color map selector callback
        */
        function selectThermalCameraColorMapCallback(event){
            var postString = "{\"setThermalCameraColorMap\":\"" + event.target.value + "\"}";
            httpPostAsync("{{ url_for('option') }}", postString);
        }
        thermalCameraColorMapSelector.addEventListener("change",selectThermalCameraColorMapCallback);

        /* 
        * Display map image for selected color map
        */
        function displayColorMapImage(event){
            var string = event.target.value.charAt(0).toUpperCase() + event.target.value.slice(1);
            thermalCameraColorMapDisplay.setAttribute("src", "/img/colorscale" + string + ".jpg");
        }
        thermalCameraColorMapSelector.addEventListener("change",displayColorMapImage);

        /* 
        * Position range input callback (x)
        */
        function yawPositionInputChangeCallback(event){
            var postString = "{\"yawPos\":" + event.target.value + "}";
            httpPostAsync("{{ url_for('controlle') }}", postString);
        }
        yawPositionInput.addEventListener("mouseup",yawPositionInputChangeCallback);
        yawPositionInput.addEventListener("touchend",yawPositionInputChangeCallback);

        /* 
        * Position range input callback (y)
        */
        function pitchPositionInputChangeCallback(event){
            var postString = "{\"pitchPos\":" + event.target.value + "}";
            httpPostAsync("{{ url_for('controlle') }}", postString);
        }
        pitchPositionInput.addEventListener("mouseup",pitchPositionInputChangeCallback);
        pitchPositionInput.addEventListener("touchend",pitchPositionInputChangeCallback);

        /* 
        * Display touch callback
        */
        function displayPressCallback(event){
            if (document.fullscreenElement) {
                var x = event.changedTouches[0].pageX;
                var y = event.changedTouches[0].pageY;

                var w = window.screen.width;
                var h = window.screen.height;

                if (x > w/5 && x<w/5*4){
                    httpPostAsync("{{ url_for('controlle') }}", "{\"trigger\":\"1\"}");
                    triggered = true;
                    mouchMap[5] = false;
                }
            }

        }
        fullScreenDisplay.addEventListener('touchstart',displayPressCallback);

        /*
        * Gamepad connect callback
        */
        function gamepadConnectCallback(event){
            gamepadConnected = event.gamepad.connected;
        }
        window.addEventListener("gamepadconnected", gamepadConnectCallback);
        window.addEventListener("gamepaddisconnected", gamepadConnectCallback);

        /*
        * Control loop
        */
        function controlTimeoutCallback(){
            if (gamepadConnected) {

                var gamepad = navigator.getGamepads()[0];

                yawSpeed = parseInt(gamepad.axes[2] * 100);
                pitchSpeed = parseInt(gamepad.axes[3] * 100);

                console.log(
                    "Gamepad Axis0: %s | Axis1: %s",
                    yawSpeed,
                    pitchSpeed,
              );

                if (yawSpeed != yawLastSpeed){
                    yawLastSpeed = yawSpeed;
                    var postString = "{\"yawSpeed\":" + yawSpeed + "}";
                    console.log("yawSpeed=" + yawSpeed);
                    httpPostAsync("{{ url_for('controlle') }}", postString);
                }
                if (pitchSpeed != pitchLastSpeed){
                    pitchLastSpeed = pitchSpeed;
                    var postString = "{\"pitchSpeed\":" + -pitchSpeed + "}";
                    console.log("pitchSpeed=" + pitchSpeed);
                    httpPostAsync("{{ url_for('controlle') }}", postString);
                }
            }

        };
        window.setInterval(controlTimeoutCallback, 50); 

        /*
        * Timed Position feedback poll
        * - get request
        * - response callback
        */
        function refreshPosition(){
            httpGetAsync("{{ url_for('feedback') }}", "position=1", null, positionCallback)
        };
        function positionCallback(response){        
            var responseObj = JSON.parse(response);
            yawPosFeedback = parseFloat(responseObj.yawPos);
            pitchPosFeedback = parseFloat(responseObj.pitchPos);
        };
        window.setInterval("refreshPosition()", 200); 


    </script>
    </body>
</html>
