body {
    font-size: normal;
    font-family: Arial;
    background: #d6d6d6;
    text-align: center;
    
    margin: 0;
    padding: 0;
    
    border: 1px solid black;
}


div {
    padding: 0;
    border: 1px solid black;
}


h1 {
    margin: 0;
    text-align: center;
}


h2 {
    margin: 0;
    text-align: center;
}


h3 {
    margin: 0;
    text-align: left;
}


.container-parent {
    text-align: center;
}


.container-child {
    display: inline-block;
}

input:focus {
    outline: none;
}


input[type=range] {
    color: #d6d6d6;

    -webkit-appearance: none;
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--val) - var(--min))/var(--range));
    --sx: calc(.5*1.5em + var(--ratio)*(100% - 1.5em));
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1.5em;
    background: transparent;
    border: none;
}


input[type=range], input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}


input[type=range]::-webkit-slider-runnable-track {
    box-sizing: border-box;
    border: 1px inset;
    width: 12.5em;
    height: 0.4em;
    background: #ccc;
    box-shadow: 0px 0px 2px #000000;
}


input[type=range]::-webkit-slider-thumb {
    margin-top: -0.8em;
    box-sizing: border-box;
    width: 3em;
    height: 1.5em;

    border: 5px;
    border-radius: 5px;

    background-image: -webkit-linear-gradient(bottom, #2e2e2e 0%, #000000 100%);
    -webkit-box-shadow: 0px 4px 0px #000000, 0px 2px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 4px 0px #000000, 0px 2px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);

    background-size:3em;
    background-repeat: no-repeat;
    background-position: 50%;
}


input[type=range]::-moz-range-track {
    box-sizing: border-box;
    border: 1px #2e2e2e inset;
    height: 0.4em;
    background: #000000;
    box-shadow: 0px 0px 2px #000000;
}


input[type=range]::-moz-range-progress {
    height: 0.4em;
    background: none;
}


input[type=range]::-moz-range-thumb {
    margin-top: -10em;
    box-sizing: border-box;
    width: 3em;
    height: 1.5em;

    border: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;

    background-image: -moz-linear-gradient(bottom, #2e2e2e 0%, #000000 100%);
    -moz-box-shadow: 0px 4px 0px #000000, 0px 2px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 4px 0px #000000, 0px 2px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);

    background-size:3em;
    background-repeat: no-repeat;
    background-position: 50%;
}


#tickmarks {
    display: flex;
    justify-content: space-between;
    padding: 0 1.3em;
}


#tickmarks p {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: small;
    text-align: center;
    width: 1px;
    background: #7e7e7e;
    height: 10px;
    line-height: 40px;
    margin: 0 0 10px 0;
}


.button {
    color: #d6d6d6;

    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;

    background-image: -moz-linear-gradient(bottom, #2e2e2e 0%, #000000 100%);
    background-image: -webkit-linear-gradient(bottom, #2e2e2e 0%, #000000 100%);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0px 4px 0px #000000, 0px 2px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 4px 0px #000000, 0px 2px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 2px 0px #000000, 0px 2px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -webkit-transition: all .01s;
    -moz-transition: all .01s;
    transition: all .01s;
    -webkit-transform: rotateX(20deg);
}


.button:active {
    -webkit-box-shadow: 0px 0px 0px #7e7e7e, 0px 0px 2px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 0px 0px #7e7e7e, 0px 0px 2px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 0px 0px #7e7e7e, 0px 0px 2px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
    -webkit-transform: translate(0, 2px) rotateX(20deg);  
    -moz-transform: translate(0, 2px);  
    transform: translate(0, 2px);  
}

select {
    color: #d6d6d6;

    text-decoration: none;
    padding: 5px 15px;

    background-image: -moz-linear-gradient(bottom, #2e2e2e 0%, #000000 100%);
    background-image: -webkit-linear-gradient(bottom, #2e2e2e 0%, #000000 100%);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    border-style: none;

    -webkit-box-shadow: 0px 4px 0px #000000, 0px 2px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 4px 0px #000000, 0px 2px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 2px 0px #000000, 0px 2px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

.description {
    font-size: small;
}
