html {
    height:100%;
    width:100%;
    overflow: hidden;
}

body {
    height:100%;
    width:100%;
    
    font-size: min(2.5vh, 20px);
    font-family: Arial;
    background: #d6d6d6;
    text-align: center;
    
    margin: 0;
    padding: 0;
    
    border: 1px solid black;
}


div {
    padding: 0;
    margin: 0;
    #border: 1px solid black;
}


h1 {
    font-size: min(3.5vh, 30px);
    padding: 0;
    margin: 0;
    text-align: center;
}


h2 {
    font-size: min(2.7vh, 22px);
    padding: 0;
    margin: 0;
    text-align: center;
}


h3 {
    font-size: min(1.9vh, 17px);
    margin: 0;
    text-align: left;
}

h4 {
    font-size: min(1.5vh, 15px);
    margin: 0;
    text-align: left;
}

p {
    padding: 0;
    margin: 0;
}


img {
    padding: 0;
    margin: 0;
}


input:focus {
    outline: none;
}


input[type=range] {
    color: #d6d6d6;

    -webkit-appearance: none;
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--val) - var(--min))/var(--range));
    --sx: calc(.5*1.5px + var(--ratio)*(100% - 1.5px));
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5px;
    background: transparent;
    border: none;
}


input[type=range], input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}


input[type=range]::-webkit-slider-thumb {
    margin-top: -min(0.7em, 6px);
    box-sizing: border-box;
    width: min(3em, 50px);
    height: min(1.5em, 25px);

    border: 2px;
    border-radius: 5px;

    background-image: -webkit-linear-gradient(bottom, #2e2e2e 0%, #000000 100%);
    -webkit-box-shadow: 0px 4px 0px #000000, 0px 2px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 4px 0px #000000, 0px 2px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    
    font-size: min(1.9vh, 17px);
}


input[type=range]::-moz-range-thumb {
    margin-top: -min(0.7em, 6px);
    box-sizing: border-box;
    width: min(3em, 50px);
    height: min(1.5em, 25px);

    border: 2px;
    border-radius: 5px;
    -moz-border-radius: 5px;

    background-image: -moz-linear-gradient(bottom, #2e2e2e 0%, #000000 100%);
    -moz-box-shadow: 0px 4px 0px #000000, 0px 2px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 4px 0px #000000, 0px 2px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    
    font-size: min(1.9vh, 17px);
}


input[type=range]::-webkit-slider-runnable-track {
    box-sizing: border-box;
    border: 1px inset;
    height: 2px;
    background: #ccc;
    box-shadow: 0px 0px 2px #000000;
}


input[type=range]::-moz-range-track {
    box-sizing: border-box;
    border: 1px #2e2e2e inset;
    height: 2px;
    background: #000000;
    box-shadow: 0px 0px 2px #000000;
}


input[type=range]::-moz-range-progress {
    height: 2px;
    background: none;
}


#tickmarks {
    display: flex;
    justify-content: space-between;
}


#tickmarks p {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: min(1.9vh, 17px);
    text-align: center;
    width: 1px;
    background: #7e7e7e;
    height: 5px;
    line-height: 30px;
    margin: 0 0 2px 0;
}


.button {
    color: #d6d6d6;

    display: inline-block;
    text-decoration: none;
    font-size: min(1.9vh, 17px);
    padding: 5px 15px;

    background-image: -moz-linear-gradient(bottom, #2e2e2e 0%, #000000 100%);
    background-image: -webkit-linear-gradient(bottom, #2e2e2e 0%, #000000 100%);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0px 4px 0px #000000, 0px 2px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 4px 0px #000000, 0px 2px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 2px 0px #000000, 0px 2px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -webkit-transition: all .01s;
    -moz-transition: all .01s;
    transition: all .01s;
    -webkit-transform: rotateX(20deg);
}


.button:active {
    -webkit-box-shadow: 0px 0px 0px #7e7e7e, 0px 0px 2px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 0px 0px #7e7e7e, 0px 0px 2px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 0px 0px #7e7e7e, 0px 0px 2px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
    -webkit-transform: translate(0, 2px) rotateX(20deg);  
    -moz-transform: translate(0, 2px);  
    transform: translate(0, 2px);  
}

select {
    color: #d6d6d6;

    text-decoration: none;
    padding-left: 3px;

    background-image: -moz-linear-gradient(bottom, #2e2e2e 0%, #000000 100%);
    background-image: -webkit-linear-gradient(bottom, #2e2e2e 0%, #000000 100%);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    border-style: none;
    
    font-size: min(1.9vh, 17px);

    #-webkit-box-shadow: 0px 4px 0px #000000, 0px 2px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    #-moz-box-shadow: 0px 4px 0px #000000, 0px 2px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    #box-shadow: 0px 2px 0px #000000, 0px 2px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

.description {
    font-size: min(1.9vh, 17px);
    padding: 0;
}


.hoverPopupBackground{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position: fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
    vertical-align:middle;
}


.popup{
    display:inline-block;
    height:100%;
    vertical-align:middle;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.hoverPopupBackground > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}

